* {
  outline: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
ul ol li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.marginAuto {
  margin: auto;
}

#react-kakao-maps-sdk-map-container {
  width: 1024px;
  height: 360px;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#sign-in-nav {
  position: relative;
  margin-top: 120px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
#sign-in-nav #customerinformation {
  color: black;
  font-weight: bold;
  font-size: larger;
}
#sign-in-nav a {
  color: black;
}
#sign-in-nav .customer-information-menu {
  list-style: none;
  padding: 50px 24px;
}
#sign-in-nav .customer-information-menu li {
  line-height: 100px;
  border-bottom: 1px solid gainsboro;
}
#sign-in-nav #customer-information-navigator {
  position: relative;
  margin: 50px 24px;
}

#dummy {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#signin-information {
  width: 425px;
  margin: 50px auto;
}
#signin-information input {
  width: 360px;
  height: 40px;
  margin: 10px auto;
  padding: 0;
  text-align: center;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
#signin-information #signin-container {
  width: 360px;
  height: 144px;
  margin: 0 auto;
  border-bottom: 1px solid gainsboro;
}
#signin-information #signin-submit-container {
  width: 360px;
  height: 144px;
  margin: 0 auto;
  border: none;
}
#signin-information #signin-submit-button {
  width: 364px;
  height: 40px;
  margin: 20px auto;
  padding: 0;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
#signin-information a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}
#signin-information #signup {
  text-align: center;
}
#signin-section {
  width: 425px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}
#signin-section #Logo {
  width: 200px;
}
#signin-section div {
  position: absolute;
  display: inline-block;
  height: 40px;
  width: 160px;
  margin-top: 80px;
  text-align: center;
  color: cornflowerblue;
  font-weight: bolder;
  font-size: 40px;
}
#signup-section {
  width: 1024px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
#signup-title {
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
}
#signup-section #SignUpItemContainer {
  padding-top: 20px;
  width: 336px;
  margin: 0 auto;
}
#signup-section #SignUpItemContainer input {
  width: 100%;
  height: 36px;
  margin: 5px auto;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding-left: 10px;
}
#signup-section #SignUpItemContainer select {
  width: 350px;
  height: 37px;
  margin: 5px auto;
  padding: 0;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
#signup-section #SignUpItemContainer #informationSubmit {
  width: 180px;
  height: 36px;
  margin: 40px 81px;
  color: cornflowerblue;
  background-color: white;
  border: 1px solid cornflowerblue;
  border-radius: 20px;
}

#recommend-restaurants-section {
  width: 1024px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
#recommend-restaurants-title {
  font-size: larger;
  font-weight: bold;
}
#restaurants-classification-tag {
  width: 124px;
  height: 36px;
  margin-top: 30px;
  padding: 0;
  border: 1px solid gainsboro;
  border-radius: 10px;
  text-align: center;
}
#search-container {
  width: 1024px;
  height: 64px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#search-form-wrap {
  position: relative;
  width: 728px;
  margin: auto;
}
#search-keyword {
  width: 100%;
  height: 36px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 5px 20px;
  border-radius: 10px;
}
#search-submit-button {
  position: absolute;
  font-size: 13px;
  background: url(../assets/mobile-magnifying-glass.png);
  background-size: 22px;
  background-repeat: no-repeat;
  padding: 12px;
  border: none;
  text-indent: -9999px;
  z-index: 1;
  right: -20px;
  top: 12px;
}
#recent-search-container {
  list-style: none;
  padding-left: 10px;
}

#recent-search-container li {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
#recent-search-keywords {
  background-color: gainsboro;
  padding: 7px;
  margin-top: 10px;
  border-radius: 5px;
}
#recent-search-keywords button {
  background-color: gainsboro;
  border: none;
}

#recommendStoreList {
  width: 728px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#most-searched-keywords-title {
  margin: auto;
  font-weight: bold;
}

#most-searched-keywords-container {
  padding: 0;
}
#most-searched-keywords {
  list-style: none;
  padding: 20px 0;
}
#recent-search-section {
  width: 728px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#recent-search-title {
  margin: auto;
  font-weight: bold;
}
#most-searched-keywords-section {
  width: 728px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#customer-information-modify-container {
  padding-top: 50px;
  width: 612px;
  margin: 0 auto;
}
#customer-information-modify-container .information-title {
  font-size: 25px;
  color: gray;
}
.information-value-container {
  display: flex;
  justify-content: space-between;
}
#customer-information-modify-container .information-value {
  font-size: 25px;
  margin-top: 20px;
}
#customer-information-modify-container .information-modify-button {
  margin-top: 20px;
  font-size: 25px;
  padding: 5px 20px;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 20px;
}
#history-menu-type-container {
  display: flex;
}
#history-menu-type-container .history-menu-type {
  font-size: 25px;
  margin-top: 20px;
  text-underline-offset: 10px;
  cursor: pointer;
  border: none;
  background-color: white;
}
#history-menu-type-container .menu-selected {
  text-decoration: underline;
}
.history-store-container ul {
  list-style: none;
  padding: 10px 24px;
}
.history-store-container .history-store-information-container {
  padding: 30px 0;
  line-height: 10px;
  border: none;
  display: flex;
}
.store-image {
  width: 150px;
  height: 150px;
  border: 1px solid gainsboro;
  border-radius: 20px;
}
.store-more-information .store-more-information-title {
  font-size: 30px;
  padding: 15px;
  font-weight: bold;
}
.store-more-information .store-more-information-reviews {
  font-size: 20px;
  padding: 10px 15px;
}
.store-more-information .store-more-information-reservation-state {
  font-size: 20px;
  padding: 10px 15px;
  color: red;
}
.store-more-information .store-more-information-reservation-cancle {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 20px;
  color: dodgerblue;
  border: none;
  background-color: lightskyblue;
  border-radius: 10px;
}
.business-show-customer-section {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}
.business-show-customer-container {
  padding: 10px;
  height: 57vh;
  overflow: auto;
}
.callButton {
  /* 호출 버튼 */
  width: 50px;
  height: 50px;
  border: none;
  background: url(../assets/volume.png);
  background-size: 50px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.stayCheckButton {
  /* 입장완료 버튼*/
  width: 50px;
  height: 50px;
  border: none;
  background: url(../assets/checked.png);
  background-size: 50px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.stayingButton {
  /* 대기중 버튼 */
  width: 50px;
  height: 50px;
  border: none;
  background: url(../assets/hourglass.png);
  background-size: 50px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.stayBack {
  /* 대기복귀 버튼 */
  width: 40px;
  height: 40px;
  border: none;
  background: url(../assets/return.png);
  background-size: 40px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-left: 7px;
}
.stayCancle {
  /* 대기취소 버튼 */
  width: 40px;
  height: 40px;
  border: none;
  background: url(../assets/stop-button.png);
  background-size: 40px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-left: 7px;
}
.close-button {
  /* 닫기 버튼 */
  width: 20px;
  height: 20px;
  border: none;
  background: url(../assets/up-arrow.png);
  background-size: 20px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-right: 10px;
}
.open-button {
  /* 열기 버튼 */
  width: 20px;
  height: 20px;
  border: none;
  background: url(../assets/down-arrow.png);
  background-size: 20px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-right: 10px;
}
