* {
  outline: 0;
}
.userHeader {
  background-color: cornflowerblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  color: white;
}
.proprietorHeader {
  background-color: cornflowerblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  color: white;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
ul ol li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.marginAuto {
  margin: auto;
}
.userHeader section {
  position: relative;
  width: 1024px;
  height: 72px;
  background: none;
  margin: 0 auto;
}
.userHeader section h2 {
  position: absolute;
  left: 31px;
  margin: 0;
  font-size: 20px;
  background-size: 96px auto;
}
.userHeader section #Logo {
  display: inline-block;
  height: 48px;
  margin: 12px 0;
}
.userHeader section h2 div {
  position: absolute;
  display: inline-block;
  font-size: 20px;
  height: 20px;
  width: 86px;
  margin: 26px 2px;
}
.userHeader section ul li .btn_srch {
  border: none;
  text-indent: -9999px;
  z-index: 10;
  cursor: pointer;
  background-image: url(../assets/magnifying-glass.png);
  background-size: 22px;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: cornflowerblue;
}
.proprietorHeader section {
  display: flex;
  justify-content: space-between;
  height: 72px;
}
.proprietorHeader section h2 {
  left: 31px;
  margin-left: 10px;
  margin-right: auto;
  margin-top: auto;
  font-size: 20px;
  background-size: 96px auto;
}
.proprietorHeader section #Logo {
  display: inline-block;
  height: 48px;
  margin: 12px 0;
}
.proprietorHeader section h2 div {
  position: absolute;
  display: inline-block;
  font-size: 20px;
  height: 20px;
  width: 86px;
  margin: 26px 2px;
}
.proprietorHeader section #proprietorHeaderDate {
  width: 128px;
  height: 30px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 10px;
}
.proprietorHeaderSpan {
  text-align: right;
  margin: auto 10px;
}
#react-kakao-maps-sdk-map-container {
  width: 1024px;
  height: 360px;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#info {
  position: relative;
  margin-top: 120px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
#info #userInfo {
  color: black;
  font-weight: bold;
  font-size: larger;
}
#info a {
  color: black;
}
#info .infoUl {
  list-style: none;
  padding: 50px 24px;
}
#info .infoUl li {
  line-height: 100px;
  border-bottom: 1px solid gainsboro;
}
#info #gogo {
  position: relative;
  margin: 50px 24px;
}

.ul_header {
  position: absolute;
  top: 27px;
  right: 31px;
  display: block;
  width: auto;
  text-align: right;
}
#dummy {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.ul_header li {
  display: inline-block;
  position: relative;
  min-width: 53px;
  min-height: 35px;
  margin-left: 30px;
  vertical-align: top;
}
.ul_header li a {
  display: inline-block;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0;
}
#SignInInfo {
  width: 425px;
  margin: 50px auto;
}
#SignInInfo input {
  width: 360px;
  height: 40px;
  margin: 10px auto;
  padding: 0;
  text-align: center;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
#SignInInfo #signInDiv {
  width: 360px;
  height: 144px;
  margin: 0 auto;
  border-bottom: 1px solid gainsboro;
}
#SignInInfo #SignInSubmitForm {
  width: 360px;
  height: 144px;
  margin: 0 auto;
  border: none;
}
#SignInInfo #SignInSubmit {
  width: 364px;
  height: 40px;
  margin: 20px auto;
  padding: 0;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
#SignInInfo a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}
#SignInInfo #signUp {
  text-align: center;
}
#SignInSection {
  width: 425px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}
#SignInSection #Logo {
  width: 200px;
}
#SignInSection div {
  position: absolute;
  display: inline-block;
  height: 40px;
  width: 160px;
  margin-top: 80px;
  text-align: center;
  color: cornflowerblue;
  font-weight: bolder;
  font-size: 40px;
}
#SignUpSection {
  width: 1024px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
#SignUpTitle {
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
}
#SignUpSection #SignUpItemContainer {
  padding-top: 20px;
  width: 336px;
  margin: 0 auto;
}
#SignUpSection #SignUpItemContainer input {
  width: 100%;
  height: 36px;
  margin: 5px auto;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding-left: 10px;
}
#SignUpSection #SignUpItemContainer select {
  width: 350px;
  height: 37px;
  margin: 5px auto;
  padding: 0;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
#SignUpSection #SignUpItemContainer #infoSubmit {
  width: 180px;
  height: 36px;
  margin: 40px 81px;
  color: cornflowerblue;
  background-color: white;
  border: 1px solid cornflowerblue;
  border-radius: 20px;
}
#idState {
  margin-bottom: 24px;
  color: black;
}
#pwState {
  margin-bottom: 24px;
  color: white;
}
#recommendRestaurants {
  width: 1024px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
#recommendRestaurantsTitle {
  font-size: larger;
  font-weight: bold;
}
#restaurantsClassificationTag {
  width: 124px;
  height: 36px;
  margin-top: 30px;
  padding: 0;
  border: 1px solid gainsboro;
  border-radius: 10px;
  text-align: center;
}
#searchForm {
  width: 1024px;
  height: 64px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#searchTextWrap {
  position: relative;
  width: 728px;
  margin: auto;
}
#searchText {
  width: 100%;
  height: 36px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 5px 20px;
  border-radius: 10px;
}
#searchSubmitBtn {
  position: absolute;
  font-size: 13px;
  background: url(../assets/mobile-magnifying-glass.png);
  background-size: 22px;
  background-repeat: no-repeat;
  padding: 12px;
  border: none;
  text-indent: -9999px;
  z-index: 1;
  right: -20px;
  top: 12px;
}
#recentSearch {
  list-style: none;
  padding-left: 10px;
}

#recentSearch li {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
#recentSearchItems {
  background-color: gainsboro;
  padding: 7px;
  margin-top: 10px;
  border-radius: 5px;
}
#recentSearchItems button {
  background-color: gainsboro;
  border: none;
}

#recommendStoreList {
  width: 728px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#recommendStoreListTitle {
  margin: auto;
  font-weight: bold;
}

#mostSearched {
  padding: 0;
}
#mostSearchedItems {
  list-style: none;
  padding: 20px 0;
}
#recentSearchList {
  width: 728px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#recentSearchTitle {
  margin: auto;
  font-weight: bold;
}
#mostSearchedList {
  width: 728px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#userInfoModifyContainer {
  padding-top: 50px;
  width: 612px;
  margin: 0 auto;
}
#userInfoModifyContainer .infoTitle {
  font-size: 25px;
  color: gray;
}
.infoFlex {
  display: flex;
  justify-content: space-between;
}
#userInfoModifyContainer .infoValue {
  font-size: 25px;
  margin-top: 20px;
}
#userInfoModifyContainer .infoModify {
  margin-top: 20px;
  font-size: 25px;
  padding: 5px 20px;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 20px;
}
#selectTagFlex {
  display: flex;
}
#selectTagFlex .selectTag {
  font-size: 25px;
  margin-top: 20px;
  text-underline-offset: 10px;
  cursor: pointer;
  border: none;
  background-color: white;
}
#selectTagFlex .selected {
  text-decoration: underline;
}
.histItems ul {
  list-style: none;
  padding: 10px 24px;
}
.histItems .histItem {
  padding: 30px 0;
  line-height: 10px;
  border: none;
  display: flex;
}
.storeImg {
  width: 150px;
  height: 150px;
  border: 1px solid gainsboro;
  border-radius: 20px;
}
.storeInfo .storeInfoTitle {
  font-size: 30px;
  padding: 15px;
  font-weight: bold;
}
.storeInfo .storeInfoReview {
  font-size: 20px;
  padding: 10px 15px;
}
.storeInfo .storeInfoState {
  font-size: 20px;
  padding: 10px 15px;
  color: red;
}
.storeInfo .storeInfoCancle {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 20px;
  color: dodgerblue;
  border: none;
  background-color: lightskyblue;
  border-radius: 10px;
}
.proprietorSection {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}
.proprietorSection ul {
  list-style: none;
  padding: 0;
}
.flexUl {
  margin: 0;
  border: 1px solid gainsboro;
}
.flexUl .flexLi {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexUl li ul {
  margin: 0 10px;
}
.flexUl li ul .topLi {
  height: 50px;
}
.flexUl li ul .bottomLi {
  height: 30px;
}
.flexUl .flexLi ul:nth-of-type(1) {
  flex-grow: 0;
}
.flexUl .flexLi ul:nth-of-type(1) .stayNum {
  font-size: 40px;
  font-weight: bold;
  padding: 10px 2px 0 7px;
}
.flexUl .flexLi ul:nth-of-type(1) .stayStart {
  font-size: 20px;
  font-weight: bold;
}
.flexUl .flexLi ul:nth-of-type(2) {
  flex-grow: 3;
  text-align: left;
}
.flexUl .flexLi ul:nth-of-type(2) .stayName {
  line-height: 50px;
}
.flexUl .flexLi ul:nth-of-type(2) .stayPersonnel {
  line-height: 35px;
}
.flexUl .flexLi ul:nth-of-type(3) {
  flex-grow: 0;
  text-align: center;
}
.flexUl .flexLi ul:nth-of-type(3) .callButton {
  width: 50px;
  height: 50px;
  border: none;
  background: url(../assets/volume.png);
  background-size: 50px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.flexUl .flexLi ul:nth-of-type(3) .recentCall {
  line-height: 35px;
}
.flexUl .flexLi ul:nth-of-type(4) {
  flex-grow: 0;
  text-align: center;
}
.flexUl .flexLi ul:nth-of-type(4) .stayingButton {
  width: 50px;
  height: 50px;
  border: none;
  background: url(../assets/hourglass.png);
  background-size: 50px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.flexUl .flexLi ul:nth-of-type(4) .stayCheckButton {
  width: 50px;
  height: 50px;
  border: none;
  background: url(../assets/checked.png);
  background-size: 50px;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.flexUl .flexLi ul:nth-of-type(4) .stayState {
  line-height: 35px;
}
.stayMoreInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  background-color: gainsboro;
  margin: 0;
}
.stayMoreInfo li {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.stayMoreInfo li ul:nth-of-type(2) {
  flex-grow: 1;
}
.stayCancle {
  width: 40px;
  height: 40px;
  border: none;
  background: url(../assets/stop-button.png);
  background-size: 40px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-left: 7px;
}
.stayBack {
  width: 40px;
  height: 40px;
  border: none;
  background: url(../assets/return.png);
  background-size: 40px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-left: 7px;
}
.stayListTitle {
  height: 30px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.stayListTitleShow {
  height: 30px;
  border: 1px solid gainsboro;
  border-radius: 10px 10px 0 0;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.openButton {
  width: 20px;
  height: 20px;
  border: none;
  background: url(../assets/up-arrow.png);
  background-size: 20px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-right: 10px;
}
.closeButton {
  width: 20px;
  height: 20px;
  border: none;
  background: url(../assets/down-arrow.png);
  background-size: 20px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-right: 10px;
}
.ProprietorListBox {
  padding: 10px;
  height: 50vh;
  overflow: auto;
}
@media screen and (max-width: 1024px) {
  /*mobile*/
  body {
    margin: 0;
  }

  .userHeader a {
    color: cornflowerblue;
  }
  #SignInSection {
    width: 375px;
    margin: 0 auto;
  }
  #SignInInfo {
    width: 375px;
    margin: 50px auto;
  }
  #react-kakao-maps-sdk-map-container {
    height: 360px;
    width: 100vw;
    margin: 0;
  }
  .userHeader {
    position: relative;
    display: block;
    top: 0%;
    background-color: white;
    color: cornflowerblue;
  }
  .userHeader section {
    width: 100%;
    height: 44px;
  }
  .userHeader section h2 {
    position: absolute;
    left: 3vw;
    margin: 0;
  }
  .userHeader section h2 div {
    position: absolute;
    display: inline-block;
    font-size: 20px;
    height: 20px;
    width: 86px;
    margin: 26px 2px;
  }
  .ul_header {
    position: absolute;
    top: 1.5rem;
    right: 3vw;
    display: block;
    width: auto;
    text-align: right;
  }
  .ul_header li {
    display: inline-block;
    position: relative;
    min-width: 1px;
    min-height: 3px;
    margin-left: 3vw;
    vertical-align: top;
  }
  .ul_header li a {
    display: inline-block;
    font-size: 13px;
    color: cornflowerblue;
    letter-spacing: 0;
  }
  .userHeader section ul li .btn_srch {
    font-size: 13px;
    background: url(../assets/mobile-magnifying-glass.png);
    background-size: 22px;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-left: 20px;
  }
  #info {
    width: 100vw;
    margin-top: 50px;
  }
  #info ul {
    padding: 50px 10px;
  }
  #info #gogo {
    margin: 20px 10px;
  }
  #SignUpSection {
    width: 90vw;
    margin: 0 auto;
  }
  #SignUpSection #SignUpItemContainer {
    padding-top: 20px;
    width: 90vw;
    margin: 0 auto;
  }
  #SignUpSection #SignUpItemContainer #infoSubmit {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }
  #SignUpSection #SignUpItemContainer select {
    width: 101%;
  }
  #recommendRestaurantsTitle {
    display: inline-block;
    position: absolute;
    padding-top: 5px;
  }
  #restaurantsClassificationTag {
    display: inline-block;
    position: absolute;
    margin: 0;
    right: 3vw;
  }
  #recommendRestaurants {
    width: 100vw;
  }
  #searchForm {
    width: 100vw;
    margin: 0;
  }
  #searchTextWrap {
    width: 90vw;
    left: -20px;
  }
  #recentSearchList {
    width: 95vw;
  }
  #mostSearchedList {
    width: 95vw;
  }
  #userInfoModifyContainer {
    padding-top: 50px;
    width: auto;
    margin: 0;
  }
  .proprietorHeader a {
    color: white;
  }
  .userHeader a {
    color: cornflowerblue;
  }
}
@media screen and (max-width: 375px) {
  .ul_header li a {
    font-size: 13px;
  }
  .userHeader section ul li .btn_srch {
    font-size: 13px;
  }
  .userHeader section h2 div {
    display: none;
  }
  #recentSearch {
    display: none;
  }
  #recentSearchList {
    display: none;
  }
  .proprietorHeader a {
    color: white;
  }
  .userHeader a {
    color: cornflowerblue;
  }
}
